.header{
    height: 100vh;
    background:url(https://avatars.mds.yandex.net/get-altay/5479384/2a0000018013c3c6c5cc1009e811bcff95a2/XXL_height) ;
    background: no-repeat;
    background-position: center;
    background-size: cover;
}